<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Проекты </title>
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1 class="text-center"><a href="@Url.Action("Index", "Home")"><img src="~/Content/img/title-text.PNG"></a></h1>
            </div>

            <ul class="list-unstyled components">
                <!-- <p>Навигация</p> -->
                <li id="main-page-menu-item" class="active">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i> Главная</a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li id="user-page-menu-item">
                        <a href="@Url.Action("Index", "User")"><i class="fa fa-users" aria-hidden="true"></i> Пользователи</a>
                    </li>
                    <li id="mix-page-menu-item">
                        <!-- class="active" -->
                        <a href="#mixDropdown" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fa fa-comment" aria-hidden="true"></i> Исполняющие компании/Должности/Сотрудники/Заказчики</a>
                        <ul class="list-unstyled show" id="mixDropdown">
                            <li>
                                <a href="@Url.Action("Index", "ExecutorCompany")"><i class="fa fa-building" aria-hidden="true"></i> Исполняющие компании</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Position")"><i class="fa fa-street-view" aria-hidden="true"></i> Должности</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Employee")"><i class="fa fa-grav" aria-hidden="true"></i> Сотрудники</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Customer")"><i class="fa fa-user-o"></i> Заказчики</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Project")"><i class="fa fa-globe" aria-hidden="true"></i> Проекты</a>
                    </li>
                }
                else if (User.IsInRole("manager"))
                {
                    <li id="mix-page-menu-item">
                        <!-- class="active" -->
                        <a href="#mixDropdown" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fa fa-comment" aria-hidden="true"></i> Исполняющие компании/Должности/Сотрудники/Заказчики</a>
                        <ul class="list-unstyled show" id="mixDropdown">
                            <li>
                                <a href="@Url.Action("Index", "ExecutorCompany")"><i class="fa fa-building" aria-hidden="true"></i> Исполняющие компании</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Position")"><i class="fa fa-street-view" aria-hidden="true"></i> Должности</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Employee")"><i class="fa fa-grav" aria-hidden="true"></i> Сотрудники</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Customer")"><i class="fa fa-user-o"></i> Заказчики</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Project")"><i class="fa fa-globe" aria-hidden="true"></i> Проекты</a>
                    </li>
                }
                else if (User.IsInRole("user"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Project")"><i class="fa fa-globe" aria-hidden="true"></i> Проекты</a>
                    </li>
                }
            </ul>
            <ul class="list-unstyled account">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li id="login-page-menu-item">
                        <a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in" aria-hidden="true"></i> Войти</a>
                    </li>
                }
                else
                {
                    <li id="change-email-page-menu-item">
                        <a href="@Url.Action("ChangeEmail", "Account")"><i class="fa fa-at" aria-hidden="true"></i> Сменить почту</a>
                    </li>
                    <li id="change-password-page-menu-item">
                        <a href="@Url.Action("ChangePassword", "Account")"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Сменить пароль</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out" aria-hidden="true"></i> Выйти</a>
                    </li>
                }
            </ul>
        </nav>
        <!-- top nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span>Меню</span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="justify-content-end text-muted logged-as">
                        Вы вошли как: @User.Identity.Name
                    </div>
                }
            </div>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            @if (TempData["success"] != null)
            {
                <div id="message-div" class="p-3 mb-2 bg-success text-white">
                    <div class="container">
                        <b>@TempData["success"]</b>
                        <span class="float-right message-div-close" onclick="closeMessageDiv()"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
            }
            @if (TempData["fail"] != null)
            {
                <div id="message-div" class="p-3 mb-2 bg-danger text-white">
                    <div class="container">
                        <b>@TempData["fail"]</b>
                        <span class="float-right message-div-close" onclick="closeMessageDiv()"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
            }

            @RenderBody()
            <footer class="page-footer">
                <div class="footer-copyright text-right py-3">
                    © 31/07/1998
                </div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/pagination.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        menuInit();
        activeMenuItem();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>