@model Projects.Web.Models.Entities.ProjectVM

@{
    ViewBag.Title = "Добавление проектов";
}

<div class="block">
    <h2 class="block-title">Добавление</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomlete = "off" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerId) <span>*</span>
                @Html.DropDownList("CustomerId", null, "Заказчик", htmlAttributes: new { @class = "form-control", @required = "required", @id = "executorCompanyDropDown" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateStart)
                @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control", @type = "date", @min = "1930-01-01", @max = "2100-01-01", @required = "required" } })
                @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateEnd)
                @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control", @type = "date", @min = "1930-01-01", @max = "2100-01-01" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Priority)
                @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @min = 1, @max = 10, @autocomlete = "off" } })
                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Comment)
                @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @autocomlete = "off" } })
            </div>

            <div class="form-group">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"></i> Сохранить</button>
                    <a href="@Url.Action("Index", "Project")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(function () {
            $("#executorCompanyDropDown").chosen({ width: "100%" });
        });</script>
}
